.projectFormMain{  
height: 90vh !important;
position: absolute;
top: 5vh;

width: 50vw;
border-radius: 10px;
box-shadow: .5vw .5vh 25rem  rgba(103, 0, 237, 0.956)  ;
background-color: whitesmoke;
z-index: 5;
display: flex;
justify-content: center;
overflow-y: auto;
scrollbar-width: thin;
}



.projectForm-uploadeimgCont{
border: 1px solid silver;
    height: 25%;
margin-top: 3%;
width: 100%;
display: flex;
gap: 2%;
align-items: center;
padding:0vh .5vw 0vh .5vw ;
overflow-x: auto !important;
scrollbar-width: thin;
}

.postForm-uploadeimgCont-bgimg{
background-image: url('../../../public/images/empty_imgBox.jpg');
background-size: 25rem;
background-repeat: no-repeat;
background-position: center;
background-color: rgba(128, 128, 128, 0.221);
}

.uploadedImgVerificatonproj{
    width: 100%;
    height: 85%;
}




.uploadedprojecImgVerificaton-subCont{
min-width: 30%;
max-width: 30%;

height: 100%;
}

.mainProjectForm{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    height: 130%;
    align-items: center;
margin-bottom: 5vh;
}

