
.nothingFound-cont{
    display: flex;
    width: 100%;
    height: 100%;
justify-content: center;
align-items: center;
background-color: white;
flex-direction: column;
}

.nothingfound-img{
    width: 40%;
    height: 50%;
}





.mess-main{
    width: 75vw;
    height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
gap: 2.2vw;
padding:5vh 0vw 5vh 0vw ;
overflow-y: auto;
scrollbar-width: none;

}











.mess-main:hover{
    scrollbar-width: thin;
}



.card-msg{
    display: flex;
height: 25vh;
flex-direction: row;
margin-top: 1vh;
border: 1px solid rgba(192, 192, 192, 0.453);
text-decoration: none;
width: 60vw;
border-radius: 10px;
color: black;
background-color: white;
}



.msg-user-pic-cont{
width: 20%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.msg-user-pic{width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;

}

.nameRole-cont{
width: 80%;
border: 1px solid rgba(192, 192, 192, 0.547);
height: 95%;
margin: .5vh .5vw .5vh .5vw;
padding-top: 1vh;
border-radius: 10px;
}

.name-titleCont{
    width: 100%;
    display: flex;
    flex-direction: column;
height: 33%;
align-items: center;
}


.rolecont{
      height: 33%;
display: flex;

justify-content: space-between;
align-items: center;
}


.roleInfo{
    display: flex;
    align-items: center;
    width: 20%;
gap: .5vw;

}
.followInfo{
    display: flex;
    align-items: center;
    width: 25%;
}


.someBtnscont{  
    height: 33%;
display: flex;
width: 100%;
align-items: center;
gap: 2vw;
padding-right: .5vw;
padding-left: .5vw;
}







