.myPost-main{
    width: 75vw;
height: 90vh;
overflow-y: auto;
scrollbar-width: thin;
display: flex;
justify-content: space-around!important;
flex-wrap: wrap;
}


.add_post_plus-icon-cont{
    width: 100%;
    height: 10%;
display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 1.5vw;
}



.add_post_plus-icon{
border-radius: 50%;
width: 5%;
height: 80%;
padding: .4rem;
cursor: pointer;
transition: 4ms;
}


.add_post_plus-icon:hover{
background-color: rgba(192, 192, 192, 0.205);
transform: scale(1.2);
}



.threeDotsVerticalPostPage-cont{
width: 100%;
height: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.card-img-top{
    width: 90% !important;
height: 70% !important;
align-self: center;
}

.PiDotsThreeVerticalBoldpost-page{
border-radius: 50%;
width: 10%;
height: 8%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
align-self: flex-end;
}



.crouser-imgSlide{
    height: 65%;
}




.PiDotsThreeVerticalBoldIcon-postpage{
    font-size: x-large;
    margin-top: -1vh;
}

.PiDotsThreeVerticalBoldpost-page:hover{
background-color: rgba(192, 192, 192, 0.292);
}


.post-descrip-and-likecontai{
height: 27%;
}

.post-descrip{
height: 70%;
}

.card-myPost{
    margin-top: 3vh;
    width: 45%;
height: 75vh !important;
}

.post-like-dilikecont{
    display: flex;
    height: 25%;
    align-items: center;
}

.card-body{
    height: 25%;
}

.my-post-info-cont{
width: 100%;
display: flex;
}

.mypost-likedislikecont{
    display: flex;
gap: 2vw;
width: 80%;

}





.my-post-timing{
    width: 20%;
}

@media (min-width:300px) and (max-width:600px) {
    

    .myPost-main{
        width: 100vw;
    height: 90vh;
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
   
    flex-wrap: wrap !important;
}

.card-myPost{
width: 80%;
font-size: small;

}


.my-post-info-cont{
    width: 100%;
    display: flex;
    height: 30%;
    align-items: end;
    }
    
    .mypost-likedislikecont{
        display: flex;
    gap: 4vw;
    width: 70%;
    }
    
    .my-post-timing{
        width: 30%;
    text-align: center;
    }
    

  

}












@media (min-width:600px) and (max-width:900px) {
    

    .myPost-main{
        width: 100vw;
    height: 90vh;
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
   
    flex-wrap: wrap !important;
}

.card-myPost{
min-width: 80% !important;
font-size: small;
height: 75% !important;
}


.my-post-info-cont{
    width: 100%;
    display: flex;
    height: 30%;
    align-items: end;
    }
    
    .mypost-likedislikecont{
        display: flex;
    gap: 4vw;
    width: 70%;
    }
    
    .my-post-timing{
        
        width: 30%;
    text-align: center;
    }

  

}

@media (min-width:900px) and (max-width:1200px) {
    

    .myPost-main{
        width: 100vw;
    height: 90vh;
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
   
    flex-wrap: wrap !important;
}

.card-myPost{
min-width: 80% !important;
font-size: small;
height: 75% !important;
}


.my-post-info-cont{
    width: 100%;
    display: flex;
    height: 30%;
    align-items: end;
    }
    
    .mypost-likedislikecont{
        display: flex;
    gap: 4vw;
    width: 70%;
    }
    
    .my-post-timing{
        font-size: medium;
        width: 30%;
    text-align: center;
    }

  

}