.projects-main{
    width: 75vw;
    max-height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
}

.mainSubDivProject{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
align-items: center;
overflow-y: auto;
scrollbar-width: none;
padding-bottom: 10vh;
}


.project-post-descrip{
width: 83%;
margin-left: 2vh;
height: 100%;
display: flex;
flex-wrap: wrap;
}


.mainSubDivProject:hover{
    scrollbar-width: thin;

}

.project-cont{
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
height: 90vh;
width: 45vw;
}


.add_project_plus-icon{
height: 6vh;
border-radius: 50%;
width: 3vw;
margin-top: 2vh;
padding: .2rem;
cursor: pointer;
}

.add_project_plus-icon:hover{
background-color: rgba(135, 207, 235, 0.284);
}



.carousel-project{
width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
}

.dots-contProjectPage{
    cursor: pointer;
    width: 2.4vw;
display: flex;
justify-content: center;
border-radius: 50%;
align-items: center;
align-self: flex-end;

}


.dots-contProjectPage:hover{
background-color: rgba(192, 192, 192, 0.236);
}

.dots-projectpage{
    font-size: large;
    color: pointer;
}


.projectpagelikecont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.projecttitle{
    align-items: center;
    height: 10vh;
    padding-left: 1vw;
    display: flex;
flex-direction: column;
    margin-bottom: 1vh;
     border: 1px solid rgb(236, 219, 219);
}

.projecttitle-heading{
    margin-right: 1vw;
}
    
.projectDescription{
    border: 1px solid rgb(236, 219, 219);
    padding-left: 1vw;
    display: flex;
align-items: center;
}

.projecttitle-ans{
    justify-self: center ; 
}



.sub-container{
    width: 60%;
display: flex;
align-items: center !important;
height: 100%;
}


.sub-container-sec{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.projectThirdCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    border: 1px solid rgb(236, 219, 219);


}
