.liker_modal{
 box-shadow: .5vw .5vh 25rem  rgba(103, 0, 237, 0.956)  ;
background-color: whitesmoke;
 height: 75vh;
 width: 30vw;   
 z-index: 15;
 position: absolute;
border-radius: 10px;
top: 15vh;
padding: 8px;

}

.liker_modalBox1{
height: 96%;
display: flex;
flex-direction: column;
overflow-y: auto;
scrollbar-width: thin;
gap: 2vh;
}

.liker_modalBox2{
height: 8%;
display: flex;
align-items: center;
justify-content: space-between;
}


.likerModalProfipics{
    width: 9%;
    height: 80%;
    border-radius: 50%;
}

.likenfollbtn{
    width: 5vw !important;
padding: 1vh .5vw 1vh .5vw;
font-size: x-small;
border-radius: 20px;

}

.likeprimbtn{
border-radius: 20px !important;
font-size: small;
padding: .5vh 1vw .5vh 1vw;
}


.like-likdiv{
    width: 5vw;
    display: flex;
    justify-content: center;
    font-size: x-large;
color: green;
}