.editnameModal{
height: 80vh !important;
position: absolute;
top: 15vh;
width: 50vw;
border-radius: 10px;
box-shadow: .5vw .5vh 25rem  rgba(103, 0, 237, 0.956)  ;
background-color: whitesmoke;
z-index: 5;
}







.editNameModalForm{
display: flex !important;
flex-direction: column;
height: 85%;
width: 100%;
justify-content: space-between;
}


.editNameModalForm-subdiv{
display: flex;
width: 100%;
 align-items: center;   
 margin-top: 2%;
height: 60%;
}

.txtar{
    height: 20%;
    width: 70%;
    align-self: center;
}


.editNamemodDiv1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.inputSubDivseditNamemodal{
    width: 80%;
}

.formeditdiv{
    height: 12%;
    border-bottom:1px solid silver ;
display: flex;
align-items: center;
padding-left:1vw ;
justify-content: space-between;
padding-top: 1vh;
}

.editNameBtnsdiv{
    display: flex;
    gap: 2vw;
justify-content: flex-end;
height: 9%;
padding-right: 1vw;
}