.follwersMain{
border-radius: 16px;
background-color: whitesmoke;
width: 30vw;
height: 95vh;
padding: .5rem;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: .5vw .5vh 25rem  rgba(103, 0, 237, 0.956)  ;
}


.searchFollowersForm{
    width: 80%;
height: 10%;
}




.searchFollowers{
    border: none !important;
    border-bottom: 1px solid silver !important;
    border-radius: 0 !important;
    width: 100% !important;
    background-color: transparent !important;
}





.folliwers-ul{
    width: 100%;
    margin-top: 2vh;
height: 85vh;
display: flex;
flex-direction: column;
align-items: center;
overflow-y:auto ;
scrollbar-width:none;

}




.follwersMdAccountCircle{
    font-size: 2rem;
}


.follwers-img{
    width: 2.5vw;
    border-radius: 50%;
height: 5vh;
}


.follwers-name-link{
    width: 100%;
min-height: 8vh;
border-bottom: 1px solid silver;
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}

.follow-page-btn{
    padding: 1vh 1vw 1vh 1vw  !important;
    font-size: small !important;

    border-radius:1rem !important;
  transition: 2ms;


}


.follow-page-btn:hover{
    transform: scale(1.1);
  
}

 .searchFollowersForm{
  display: flex;
align-items: center;
}

.followersCiSearch{
    position: relative;
    left: 19vw;
    font-size:x-large !important;
}