.totEmp-Cont{
height: 80%;
    display:flex;
    flex-direction: row;
width: 100%;
}

.HiUserGroup-cont{
    height: 100%;
    width: 70%;
    display:flex;
    flex-direction: column;
align-items: center;
}

.HiUserGroup-det{
    font-size: 15rem !important;
color: rgb(141, 89, 225);
transition: 2ms;
}


.HiUserGroup-detEdit{
transform: scale(1.4);
}

.emp-edit{
    cursor: pointer;
    align-self: flex-end;
margin-top:8vh ;
transition: 2ms;
}


.emp-edit:hover{
transform: scale(1.2);
}


.totEmp-Cont-input-cont{
    width: 30%;
    height: 100%;
display: flex;
align-items: center;

}

.totEMp-input{
    height: 40%;
    font-size: x-large;
}