.postFormMain{  
height: 80vh !important;
position: absolute;
top: 15vh;

width: 50vw;
border-radius: 10px;
box-shadow: .5vw .5vh 25rem  rgba(103, 0, 237, 0.956)  ;
background-color: whitesmoke;
z-index: 5;
display: flex;
justify-content: center;
}



.postForm-uploadeimgCont{
border: 1px solid silver;
    height: 30%;
margin-top: 3%;
display: flex;
width: 100%;
gap: 2%;
align-items: center;
padding:0vh .5vw 0vh .5vw ;
overflow-x: auto;
scrollbar-width: thin;
}

.postForm-uploadeimgCont-bgimg{
background-image: url('../../../public/images/empty_imgBox.jpg');
background-size: 25rem;
background-repeat: no-repeat;
background-position: center;
background-color: rgba(128, 128, 128, 0.221);
}



.uploadedImgVerificaton-subCont{
width: 30%;
height: 100%;
}

.uploadedImgVerificaton{
    width: 100%;
height: 80%;

}

.mainPostForm{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

