.jobs-main{
    width: 75vw;
height: 90vh;
overflow-y: auto;
scrollbar-width: none ;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap !important;
}

.card-img-top-job{
    height: 38vh !important;
  
}

.jobs-main:hover{
    overflow-y: auto;
   
scrollbar-width: thin;
}

.job-card{
transition: 2ms;
    margin-top: 2vh;
height: 60vh !important;
min-width: 30vw;
max-width: 20vw;
font-size: small;
margin-bottom: 1vh;
text-decoration: none;
}

.job-card:hover{
    transform: scale(1.01 ,1.01);
}


.card-body-job{
    height: 37%;
    display: flex;
    flex-direction: column;
justify-content: space-between;
padding: .5vh 1vw .2vh 1vw;
}




.jobCardSubdiv{
height: 100%;
}
.card-job-descr{
    height: 8.5vh;
}


.card-body-loc-cont{
    display: flex;
    justify-content: space-between;
}
.card-body-salary{
text-decoration: none;

}

.card-body-date{
    color: grey;
text-decoration: none;
float: right;
}

.job-location-icon{
    margin-bottom: .4vh;
font-size:1rem;
}


@media (min-width:300px) and (max-width:600px)  {
    .jobs-main{
        width: 100vw !important;
    height: 90vh !important;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap !important;
    }
    

    .jobs-main:hover{
    overflow-y: auto;
    scrollbar-width: thin;
    }

    .job-card{
        margin-top: 2vh;
    height: 60vh;
min-width: 80vw !important;
    font-size: small;
    margin-bottom: 1vh;
    }
    
    


}







@media (min-width:600px) and (max-width:900px)  {
    .jobs-main{
        width: 100vw !important;
    height: 90vh !important;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap !important;
    }
    

    .jobs-main:hover{
    overflow-y: auto;
    scrollbar-width: thin;
    }

    .job-card{
        margin-top: 2vh;
    height: 60vh;
min-width: 80vw !important;
    font-size: small;
    margin-bottom: 1vh;
    }
    
    


}


