
.jobForm-main{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content:space-around;
align-items: center;   
}

 .job-form-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
     box-shadow: 10px 20px 100px rgba(0, 0, 0, 0.458);
width: 40%;
height: 70%;
background-color: whitesmoke;
border-radius: .2rem;
}



.register_inputs-container{
    height: 60%;
display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
padding: 0vh 1vw 0vh 1vw ;
}


.sign-Up_head{
    width:100% ;
    height: 7%;
padding: 1vh 0vw 0vw 1vw ;
font-size: 1em;
cursor: pointer;
}


.job_icon{
    width: 40%;
height: 70%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 15vh;

}

.FaHandshake{
    color:#6026d4 ;
font-size: 15rem;
}

.registe-input-subcont{
height: 100%;
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
}


.degree_btn-jobForm{
    display: flex;
    width: 100%;
justify-content: space-between;
}


.deginput-cont{
    display: flex;
    gap: 1.5vw;
flex-wrap: wrap;
width: 85%;
}

 
.FaPlus_btn-job-form{
    width: 10%;
}



.next-btn-cont{
 display: flex;
 justify-content: center;
 height: 20%   
}

.btn-Next{
    width: 80%;
    background-image: linear-gradient(135deg ,#71b7e6 ,#9370db );
    align-self:  center !important;
    padding: .6vh;
    border-radius: .2rem;
    color: white;
    border: none;
transition: 0.3s ease ;

}


.btn-Next:hover{
    transform: scale(1.1,1.1);
}

.job_loader {
    background-image: linear-gradient(135deg, #8962d8,#358bc4  );
  position: absolute;
  top: 83vh !important;
  left: 70vw;
  width: 25%;
  height: 5px;
  animation: letLoadNxt 1s linear infinite;
}

  
  @keyframes letLoadNxt {
    0% {
        transform: translateX(-100%); /* Start outside on the left */
    }
    100% { 
        transform: translateX(100%); /* End outside on the right */
    }
  }


.job_loader-goBack {
    background-image: linear-gradient(135deg, #8962d8,#358bc4  );
  position: absolute;
  top: 83vh !important;
  left: 70vw;
  width: 25%;
  height: 5px;
  animation: letLoadBack 1s linear infinite;
}


  @keyframes letLoadBack {
    0% {
        transform: translateX(100%); /* Start outside on the left */
    }
    100% { 
        transform: translateX(-100%); /* End outside on the right */
    }
  }